---
layout: default
sections:
  -
    name: About
    slug: about
  -
    name: Featured Day
    slug: featured-day
  -
    name: Contact Us
    slug: contact-us
---
<div class="interstitial-image" style="background-image:url(/img/lcs-3.jpg)"></div>
<section id="about">
  <div class="container">
    {% include about.html %}
  </div>
</section>
<div class="interstitial-image" style="background-image:url(/img/lcs-global-game-jam.jpg)"></div>
<section id="featured-day">
  <div class="container">
    {% include featured_day %}
  </div>
</section>
<div class="interstitial-image" style="background-image:url(/img/lcs-mil.jpg)"></div>
<section id="contact-us">
  <div class="container">
    {% include contact.html %}
  </div>
</section>
<div class="interstitial-image" style="background-image:url(/img/innosphere-after-hours.png)"></div>
