---
layout: default
sections:
  -
    name: About
    slug: about
  -
    name: Featured Day
    slug: featured-day
  -
    name: Contact Us
    slug: contact-us
---
<div class="interstitial-image" style="background-image:url(/img/innosphere-after-hours.png)"></div>
<section id="about">
  <div class="uk-container uk-container-center">
    {% include about.html %}
  </div>
</section>
<div class="interstitial-image" style="background-image:url(/img/innosphere-after-hours.png)"></div>
<section id="featured-day">
  <div class="uk-container uk-container-center">
    {% include featured_day %}
  </div>
</section>
<div class="interstitial-image" style="background-image:url(/img/innosphere-after-hours.png)"></div>
<section id="contact-us">
  <div class="uk-container uk-container-center">
    {% include contact.html %}
  </div>
</section>
