<h2 id="about-made-in-loveland">About Made in Loveland</h2>

<p>Made in Loveland began in early 2015 with the desire of a few
  entrepreneurs to build connections between fellow entrepreneurs
  in Loveland.  It started as a grassroots organization with a
  simple premise of entrepreneurs wanting to help entrepreneurs
  start or scale their businesses.  Through a mix of education,
  collective knowledge sharing, and community building, the group
  seeks to build a stronger ecosystem where entrepreneurs can thrive.</p>

<p>The city of Loveland has a history as a place for making.  It has
  long been known as a destination for artists and creatives with its
  world renowned bronze foundries and sculpture shows.  The city has
  its business roots in making as well.  In 1960 Loveland became home
  to the first Hewlett-Packard manufacturing facility outside of Palo
  Alto, CA.  More recently, a 2013 Kaufman Foundation study named Fort
  Collins/Loveland as the #2 metro area for high tech startup density.</p>

<p>Made in Loveland seeks to draw on that history as well as the newer
  additions to the city such as the CreatorSpace and NoCo Mini Maker
  Faire to build a culture of innovation in making.   Made in Loveland
  is just getting started but the future of Loveland as a maker city
  is bright.</p>
