<h2 id="broadband-in-november-loveland-voters-will-be-asked">In November,
Loveland voters will be asked this ballot question:</h2>


<p>
  <blockquote>
    Without increasing taxes, and to restore local authority, shall the City of
    Loveland be authorized to provide advanced service (high speed internet),
    cable television service, and telecommunications service, directly or
    indirectly with public or private sector partners, to residents,
    businesses, schools, health care facilities, libraries, nonprofit entities,
    and other users of such services located within the boundaries of the City
    of Loveland and the service territory of the City of Loveland’s power
    enterprise as expressly permitted by Title 29, Article 27 of the Colorado
    Revised Statutes?
  </blockquote>
 </p>

<h2 id="broadband-whats-this-about">What's this about? Why are we being asked
to vote on this issue?</h2>

<p>
  The Colorado Legislature in 2005 passed a measure, SB-152, limiting local
  governments from competing with the private sector to provide high-speed
  internet, telecommunication and cable services. The law prohibits the City
  from providing these services directly or indirectly, with some very limited
  exceptions.
</p>

<p>
  But along with its prohibitions, SB-152 contains a provision that permits
  voter approval to give their communities the opportunity to engage in
  providing high-speed, broadband internet services. In short, we can decide to
  take back the right that was taken away from the City with passage of SB-152.
</p>

<h2 id="broadband-what-is-broadband">What is broadband? Why should we be interested?</h2>

<p>
  We're really talking about "fiber-optic broadband", which uses lasers to send
  information through glass fibers. This provides the highest internet
  performance, with speeds 10 to 100 times faster than commercial carriers in
  Loveland generally provide through conventional cable, telephone and wireless
  networks.
</p>

<p>
  A community fiber optic network is an information superhighway that runs
  right to your home or office. Two or more internet service providers can
  offer competing plans over the same fiber network, just like multiple
  trucking firms can deliver packages over the same road system.
</p>

<p>
  The City has access to many miles of fiber-optic cable that is currently
  unused – “dark fiber,” as it is called. That resource could provide the
  starting point for a community-wide, fiber-optic broadband system. If the
  voters demonstrate interest by approving the ballot measure, the city could
  explore ways to provide broadband service.
</p>

<h2 id="broadband-what-happens-if-voters">What happens if voters approve this ballot measure?</h2>

<p>
  Voter approval restores local authority, allowing the conversation to
  begin. Passage would allow our community to study whether providing
  fiber-optic broadband service, either independently or in a public-private
  partnership, is feasible, affordable and in the interest of citizens. The
  people of Loveland, through their elected representatives, would determine
  the next course of action.
</p>

<p>
  This vote does NOT authorize a specific plan for providing fiber-optic
  broadband. There are many ways that might be done, and cities across the
  country have taken a variety of approaches. Other recent Loveland development
  projects have been done as public/private partnerships.
</p>

<p>
  We need to figure out what's best for Loveland, but Council can't investigate
  this until we vote ourselves the right to do so.
</p>

<h2 id="broadband-have-people-in-other-communities">Have people in other
  communities voted on this issue?</h2>

<p>
  Yes. Voters in almost a dozen Colorado towns and cities have exempted
  themselves from the law’s prohibitions, affirming local choice in decisions
  about broadband service. For example, 92 percent of Estes Park voters in a
  special election in February cast ballots that reasserted local authority.
</p>

<p>
  Longmont is already building out their NextLight network, using fiber
  previously laid by the power
  company. Their <a href="http://longmontcolorado.gov/departments/departments-e-m/longmont-power-communications/broadband-service"
  target="_blank">website</a> describes Longmont as a "Gigabyte City", with the
  fastest internet service in the world. Fort Collins will be voting in
  November on a ballot issue very similar to ours.
</p>

<h2 id="broadband-connect-loveland">Connect Loveland! It's about opportunity.</h2>

<p>
  Today, Loveland is not well connected. Downtown merchants are stuck with
  slow, old fashioned DSL service over phone lines. Our school internet
  connections are so inadequate that if most students accessed coursework or
  took tests using iPad tablets, the school networks would be completely unable
  to handle the workload. Even the City's own Wi-Fi service in Council Chambers
  is quite slow. Accessing high-resolution medical images, such as CT and MRI
  scans, is slow unless you're actually in hospital or adjacent offices with
  their own fiber-optic connections. Media and entertainment services are
  migrating from cable and satellite TV to the internet.
</p>

<p>
  For individuals, this vote could enable more competition to provide Loveland
  with world-class internet services at better prices. Education is going
  global, with students accessing the very best course materials and
  instructors wherever they are in the world. Our students should be sharing
  that global stage. It's an opportunity for all of us to connect faster more
  reliably to the things we love, at a more competitive cost.
</p>

<p>
  This is also an opportunity to retain our existing businesses in Loveland,
  and help them grow. And the new businesses that we hope to attract will
  require world-class information services. With the right connections, even
  small businesses can go global.
</p>

<p>
  There will be fiber broadband "have" cities, and "have-nots". Loveland must
  not become a little pocket of have-nots, surrounded by communities in Estes
  Park, Longmont, and Fort Collins with vastly faster, more reliable, less
  expensive internet service.
</p>

<h2 id="broadband-who-is-made-in-loveland">Who is Made in Loveland?</h2>

<p>
  Made in Loveland is an independent group of volunteers working to foster
  business and educational opportunities in technology and the arts. You
  already know us as the artists, engineers, scientists, educators,
  entrepreneurs and philanthropists behind the Loveland CreatorSpace.
</p>

<p>
  This campaign is a local effort, by local people who have Loveland's best
  interests at heart. Our city has a long history of making great things happen
  through community involvement. High-speed internet access is so important for
  our future that it really is a community issue. It's an opportunity we
  shouldn't miss.
</p>

<p>
  Please add your support by voting <b>Yes</b> on this important issue. Let's
  <em>Connect Loveland!</em>
</p>
