<div class="uk-grid">
  <div class="application">
    <h2>Apply for a booth at Made in Loveland Day</h2>
    <form class="uk-form uk-form-horizontal" method="POST" action="http://localhost:3000/contact_form">
      <input type="hidden" name="membership[list_id]" value="4">
      <div class="form-row">
        <label class="uk-width-medium-1-4" for="name">Full Name:</label>
        <div class="controls uk-width-3-4">
          <input class="uk-width-medium-1-1" type="text" name="membership[person_attributes][name]" placeholder="John Doe">
        </div>
      </div>

      <div class="form-row">
        <label class="uk-width-medium-1-4" for="email">Email:</label>
        <div class="controls uk-width-3-4">
          <input class="uk-width-medium-1-1" type="text" name="membership[person_attributes][email]" placeholder="me@email.com">
        </div>
      </div>

      <div class="form-row">
        <label class="uk-width-medium-1-4" for="business">Busines Name:</label>
        <div class="controls uk-width-3-4">
          <input type="hidden" name="membership[metas_attributes][3][key]" value="business_name">
          <input class="uk-width-medium-1-1" type="text" name="membership[metas_attributes][3][value]" placeholder="Acme Corp.">
        </div>
      </div>

      <div class="form-row">
        <label class="uk-width-medium-1-4" for="website">Website:</label>
        <div class="controls uk-width-3-4">
          <input type="hidden" name="membership[metas_attributes][4][key]" value="website">
          <input class="uk-width-medium-1-1" type="text" name="membership[metas_attributes][4][value]" placeholder="www.madeinloveland.com">
        </div>
      </div>

      <div class="form-row">
        <label class="uk-width-medium-1-4" for="industry">Industry:</label>
        <div class="controls uk-width-3-4">
          <input type="hidden" name="membership[metas_attributes][5][key]" value="industry">
          <input class="uk-width-medium-1-1" type="text" name="membership[metas_attributes][5][value]" placeholder="Manufacturing/web development">
        </div>
      </div>

      <div class="form-row">
        <label class="uk-width-medium-1-4" for="description">About your business:</label>
        <div class="controls uk-width-3-4">
          <input type="hidden" name="membership[metas_attributes][6][key]" value="description">
          <textarea class="uk-width-medium-1-1" name="membership[metas_attributes][6][value]" rows="7"></textarea>
        </div>
      </div>

      <div class="form-row">
        <label class="uk-width-medium-1-4" for="interesting">Most interesting aspect of your business:</label>
        <div class="controls uk-width-3-4">
          <input type="hidden" name="membership[metas_attributes][7][key]" value="interesting">
          <textarea class="uk-width-medium-1-1" name="membership[metas_attributes][7][value]" rows="3"></textarea>
        </div>
      </div>

      <div class="form-row">
        <label class="uk-width-medium-1-4"></label>
        <div class="controls uk-width-3-4">
          <button type="submit" class="uk-button uk-button-large uk-button-primary">Submit</button>
          <button type="clear" class="uk-button uk-button-large">Clear</button>
        </div>
      </div>
    </form>
  </div>
</div>
