<h2>Loveland Startup Day</h2>
<h3>Sunday, May 31</h3>
<div class="startup-day">
  {% for event in site.data.startup_day.events %}
    <div class="startup-day-event">
      <h4>
        {{ event.title }}
      </h4>
      <div class="uk-grid">
        <div class="uk-width-medium-1-4">
          {% if event.speaker %}
            <div class="speaker">
              {{ event.speaker }}<br>
              <span>{{ event.company }}</span>
            </div>
          {% endif %}
          <div class="location">
            {{ event.location }}<br>
            <span><a href="//www.google.com/maps/place/{{ event.address|split:" "|join:"+" }},+Loveland,+CO+80537" target="_blank">
              {{ event.address }}
            </a></span>
          </div>
          <div class="time">
            {{ event.time|date:"%l:%M %p" }}
          </div>
        </div>
        <div class="uk-width-medium-3-4">
          <div class="topic">
            {{ event.topic }}
          </div>
        </div>
      </div>
    </div>
  {% endfor %}
  <div class="uk-grid">
    <div class="uk-width-medium-3-4">
      <a class="uk-buttom" href="expo_application.html">Apply to participate</a>
    </div>
  </div>
</div>
