.main-content>section {
  padding: 50px inherit;
  background-color: #eee;
  
}

.interstitial-image {
  height: 400px;
  @extend .uk-cover-background;
  box-shadow: inset 0 0 50px #000;

  @media screen and (max-width: $breakpoint-small-max) {
    height: 250px;
  }
}

.startup-day-event {
  h4 {
    margin: 2.5em 0 0 0;
  }
  .speaker, .location, .time {
    font-weight: bold;
    margin-bottom: 0.6em;

    span {
      font-weight: normal;
    }
  }
}
