<!DOCTYPE html>
<html>
<head>
  <title>Made in Loveland</title>
  <link rel="stylesheet"  href="/css/style.css">
  <script src="js/jquery-1.11.2.min.js"></script>
  <script src="js/uikit.min.js"></script>
</head>
<body>
  <div class="uk-container uk-container-center">
    <img src="{{ASSET_PATH}}/img/mil-logo-411x127.png" class="main-logo">
    <div class="uk-cover-background main-head"></div>
  </div>
  <nav class="main-nav">
    <div class="uk-container uk-container-center">
      <ul class="uk-navbar-nav">
        {% for item in page.sections %}
          <li>
            <a href="{{ item.url }}#{{ item.slug }}">{{ item.name }}</a>
          </li>
        {% endfor %}
      </ul>
    </div>
  </nav>

  <div class="uk-container uk-container-center">
    <div class="main-container">{{ content }}</div>
  </div>
</div>

</body>
</html>
