<!DOCTYPE html>
<html>
<head>
  <title>Made in Loveland</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet"  href="/css/style.css">
  <script src="js/jquery-1.11.2.min.js"></script>
  <script src="js/uikit.min.js"></script>
</head>
<body>
  <div class="container">
    <a href="/"><img src="/img/mil-logo-450x139.png" class="main-logo"></a>
    <div class="uk-cover-background main-head"></div>
  </div>
  <nav class="main-nav">
    <div class="container">
      <ul class="uk-navbar-nav">
        {% for item in page.sections %}
          <li>
            <a href="{{ item.url }}#{{ item.slug }}">{{ item.name }}</a>
          </li>
        {% endfor %}
      </ul>
    </div>
  </nav>
  <div class="main-content">{{ content }}</div>
</div>

</body>
</html>
